<head>
    <div class="innerNav">
        <div class="logo">
            <img src="https://png.pngtree.com/png-vector/20210807/ourmid/pngtree-music-logo-vector-ilustration-tracing-png-image_3783408.jpg" alt="">
        </div>
        <div class="left">
            <ul>
                <li>Home</li>
                <li>Abouts</li>
                <li>Contact
                </li>
                <li>Fun Sarin</li>
                <li>Trick or Treat</li>
            </ul>
        </div>
        <div class="right">
            <button class="btn">
                Sign Up
            </button>
        </div>
    </div>
</head>